# Dough Flow Model

## Loading Data Set

In [94]:
import pandas as pd

data_set = pd.read_csv('dataset/bakery_sales_revised.csv', header = 0)

In [95]:
# rename some columns
data_set = data_set.rename(columns = {
    "Transaction" : "transaction",
    "Item" : "item"
})

print(data_set)
print(data_set.describe())

       transaction           item         date_time period_day weekday_weekend
0                1          Bread   10/30/2016 9:58    morning         weekend
1                2   Scandinavian  10/30/2016 10:05    morning         weekend
2                2   Scandinavian  10/30/2016 10:05    morning         weekend
3                3  Hot chocolate  10/30/2016 10:07    morning         weekend
4                3            Jam  10/30/2016 10:07    morning         weekend
...            ...            ...               ...        ...             ...
20502         9682         Coffee    4/9/2017 14:32  afternoon         weekend
20503         9682            Tea    4/9/2017 14:32  afternoon         weekend
20504         9683         Coffee    4/9/2017 14:57  afternoon         weekend
20505         9683         Pastry    4/9/2017 14:57  afternoon         weekend
20506         9684      Smoothies    4/9/2017 15:04  afternoon         weekend

[20507 rows x 5 columns]
        transaction
count  20507.000000
mean    4976.202370
std     2796.203001
min        1.000000
25%     2552.000000
50%     5137.000000
75%     7357.000000
max     9684.000000

In [104]:
# Total each item for each datetime
data_count = data_set.groupby(['transaction','item','date_time'],  as_index = False).agg(
    item_count = ('item', 'count')
)

print(data_count.head(20))

    transaction           item         date_time  item_count
0             1          Bread   10/30/2016 9:58           1
1             2   Scandinavian  10/30/2016 10:05           2
2             3        Cookies  10/30/2016 10:07           1
3             3  Hot chocolate  10/30/2016 10:07           1
4             3            Jam  10/30/2016 10:07           1
5             4         Muffin  10/30/2016 10:08           1
6             5          Bread  10/30/2016 10:13           1
7             5         Coffee  10/30/2016 10:13           1
8             5         Pastry  10/30/2016 10:13           1
9             6      Medialuna  10/30/2016 10:16           1
10            6         Muffin  10/30/2016 10:16           1
11            6         Pastry  10/30/2016 10:16           1
12            7         Coffee  10/30/2016 10:19           1
13            7      Medialuna  10/30/2016 10:19           1
14            7         Pastry  10/30/2016 10:19           1
15            7            Tea  10/30/2016 10:19           1
16            8          Bread  10/30/2016 10:20           1
17            8         Pastry  10/30/2016 10:20           1
18            9          Bread  10/30/2016 10:21           1
19            9         Muffin  10/30/2016 10:21           1